<.form let={f} for={:user} action={Routes.user_confirmation_path(@conn, :create)} class="px-4">
  <%= label f, :email do %>
    <%= email_input(f, :email, required: true) %>
  <% end %>

  <div>
    <.button color="cta">
      <%= gettext("Resend confirmation instructions") %>
    </.button>
  </div>
</.form>

<p>
  <%= link(gettext("Register"), to: Routes.user_registration_path(@conn, :new)) %> | <%= link(
    gettext("Log in"),
    to: Routes.user_session_path(@conn, :new)
  ) %>
</p>
