<main class="max-w-[min(90%,33em)] p-4 my-4 mx-auto">
  <h1 class="text-2xl uppercase"><%= @page_title %></h1>

  <.alert :for={{type, message} <- get_flash(@conn)} type={type}><%= message %></.alert>

  <%= @inner_content %>
</main>
