.app-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: var(--font-size-lg);
}

.app-header__icon {
  --size: var(--font-size-lg);
}

.app-header__title {
  flex-grow: 1;
  margin: 0;
  font-size: var(--font-size-lg);
  color: var(--color-body);
  text-transform: uppercase;
}
