@layer base {
  /* # Lato-Regular */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Lato-Regular.woff2") format("woff2");
  }

  /* # Lato-Bold */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Lato-Bold.woff2") format("woff2");
  }

  /* # Lato-Black */
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Lato-Black.woff2") format("woff2");
  }
}
