@layer base {
  label {
    @apply block
               mb-4;
  }

  input,
  select {
    @apply block
           my-1 p-2
           border border-solid border-gray-60
           bg-gray-10
           rounded-lg
           text-base placeholder:text-gray-60;
  }

  input:disabled,
  select:disabled {
    @apply text-gray-40
           border-gray-50;
  }

  input:focus,
  select:focus {
    @apply outline-theme;
  }

  [type="checkbox"] {
    @apply inline-block;
  }
}
