@layer base {
  label {
    @apply block
               mb-4;
  }

  input,
  select {
    @apply block
           my-1 p-2
           border border-solid border-gray-70
           bg-white
           rounded-lg
           text-base;
  }

  input:disabled,
  select:disabled {
    @apply text-gray-50
           border-gray-60
           bg-gray-10;
  }

  input:focus,
  select:focus {
    @apply outline-theme;
  }

  [type="checkbox"] {
    @apply inline-block;
  }
}
