* {
  box-sizing: border-box;
}

:root {
  accent-color: var(--theme-color);
}

body {
  margin: 0;
  font-family: var(--font-family-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-body);
}

code {
  font-family: var(--font-family-mono);
}

p {
  margin-top: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

button {
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  color: var(--color-body);
}

/* # Form */
label {
  display: block;
  margin-bottom: 1rem;
}

input,
select {
  display: block;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-controls-border);
  background-color: var(--color-controls-background);
  color: var(--color-body);
  border-radius: var(--radius-lg);
  font-size: var(--font-size-base);
}

input:disabled,
select:disabled {
  color: var(--color-disabled);
  border-color: var(--color-disabled);
}

input:focus,
select:focus {
  outline-color: var(--color-theme);
}

input[type="checkbox"] {
  display: inline-block;
}
