/* .accordion { } */

/* .accordion__item {} */

.accordion__header {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 3rem;
  list-style-type: none;
}

.accordion__title {
  flex-grow: 1;
  text-transform: uppercase;
}
