.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-nav-height);
  background-color: var(--color-theme);
}

.bottom-nav__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

/* .bottom-nav__item { } */

.bottom-nav__item--active {
  --color: var(--color-theme-contrast);
}

.bottom-nav__link {
  color: var(--color, rgba(var(--color-theme-contrast-rgb) / 50%));
}

.bottom-nav__item-icon {
  display: block;
  --size: var(--font-size-lg);
  margin-left: auto;
  margin-right: auto;
}
