@layer components {
  .button {
    @apply label;
    @apply shrink-0
           inline-flex justify-center items-center gap-2
           h-md
           px-4
           border rounded-component
           outline outline-1 outline-transparent outline-offset-0
           leading-none
           transition-all;
  }

  /* ## Primary */

  .button--primary {
    @apply bg-theme-500
           border-theme-500
           text-white;
  }

  .button--primary:hover {
    @apply bg-theme-600
           border-theme-600;
  }

  .button--primary:active {
    @apply bg-theme-700
           border-theme-700;
  }

  .button--primary:focus-visible {
    @apply border-theme-800
           outline-theme-800;
  }

  .button--primary:disabled {
    @apply bg-neutral-500
           border-neutral-500;
  }

  /* ## Secondary & Ghost */

  .button--secondary {
    @apply bg-white
           border-neutral-500
           text-theme-950;
  }

  .button--ghost {
    @apply border-transparent
           text-theme-950;
  }

  .button--secondary:hover,
  .button--ghost:hover {
    @apply bg-neutral-500/10;
  }

  .button--secondary:active,
  .button--ghost:active {
    @apply bg-neutral-500/20;
  }

  .button--secondary:disabled,
  .button--ghost:disabled {
    @apply text-neutral-500
           bg-neutral-200
           border-neutral-400;
  }

  .button--secondary:focus-visible,
  .button--ghost:focus-visible {
    @apply border-neutral-800
           outline outline-neutral-800;
  }

  /* ## Sizes */

  .button--sm {
    @apply gap-2 h-sm px-3;
  }

  .button--sm .icon {
    @apply size-4;
  }
}
