.button {
  display: inline-block;
  padding: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--radius-lg);
  text-transform: uppercase;
  color: var(--color-body);
}

.button:disabled {
  background-color: var(--color-controls-background-disabled);
  border-color: var(--color-controls-border-disabled);
}

.button--color-cta {
  color: var(--color-theme-contrast);
  background-color: var(--color-theme);
}

.button--color-feature {
  background-color: var(--color-controls-background);
  border-color: var(--color-controls-border);
}

.button--color-invisible {
  display: contents;
}
