<header>
  <img class="mt-8 mx-auto mb-6" src={~p"/images/icons-48.png"} alt="Anacounts" />
  <h1 class="mb-8 text-center text-3xl font-bold"><%= @page_title %></h1>
</header>
<main class="max-w-lg p-8 mx-auto bg-white rounded">
  <.alert :for={{type, message} when type in ["error", "info"] <- @flash} type={type}>
    <%= message %>
  </.alert>

  <%= @inner_content %>
</main>
