<div class="flex flex-col justify-center h-full">
  <header>
    <h1 class="title-1 text-center align-middle">
      <img class="inline" src={~p"/images/icons-48.png"} alt="" /> Anacounts
    </h1>
  </header>
  <main class="container">
    <h2 class="title-2">{@page_title}</h2>
    <.alert_flash flash={@flash} kind={:error} class="mb-2" />
    <.alert_flash flash={@flash} kind={:info} class="mb-2" />
    {@inner_content}
  </main>
</div>
